header {
	background-color: #f1ac56; /* Set the background color of the header */
    display:flex;
    justify-content: space-between;
}

nav {
	display: flex; /* Use flexbox for the navigation */
	justify-content: space-between; /* Space out the navigation items */
	align-items: center; /* Align the items vertically */
	padding: 1rem; /* Add padding around the navigation */
}

nav ul {
	list-style: none; /* Remove the bullet points from the list */
	display: flex; /* Use flexbox for the list */
}

nav li {
	margin-right: 1rem; /* Add some space between the items */
}

nav a {
	color: #fff; /* Set the text color to white */
	text-decoration: none; /* Remove the underline from the link */
	padding: 0.5rem; /* Add padding around the link */
	transition: all 0.3s ease-in-out; /* Add a smooth transition effect */
}

nav a:hover {
	background-color: #fff; /* Change the background color on hover */
	color: #333; /* Change the text color on hover */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-image {
	border-radius: 50%; /* Make the image circular */
	overflow: hidden; /* Hide any overflowing content */
	width: 200px;
	height: 200px;
}

.profile-image img {
	display: block; /* Make the image a block element */
	width: 100%;
	height: 100%;
	object-fit: cover; /* Resize the image to cover the entire container */
}