:root {
  --black: #000000;
  --white: #ffffff;
  --primaryDark: #df2841;
  --secondaryLight: #f84d67;
  --cream: #f7ecdc;
  --electricPurple: #5b44e5;
  --electricYellow: #edf332;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--electricPurple);
}

body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  background-color: var(--white);
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: var(--electricYellow);
  font-size: 200px;
  margin: 0;
}

h2 {
  display: flex;
  justify-content: center;
  color: var(--electricPurple);
  margin-bottom: 0;
}
h3 {
  color: var(--electricPurple);
  text-decoration: solid;
  text-align: center;
}
header {
  background-color: var(--electricPurple);
  justify-content: flex-end;
}

nav {
  padding: 1rem; /* Add padding around the navigation */
}

nav ul {
  list-style: none; /* Remove the bullet points from the list */
  display: flex; /* Use flexbox for the list */
  font-size: 20px;
}

nav li {
  margin-right: 1rem; /* Add some space between the items */
}

nav a {
  color: var(--electricYellow); /* Set the text color to white */
  text-decoration: none; /* Remove the underline from the link */
  padding: 0.5rem; /* Add padding around the link */
  transition: all 0.3s ease-in-out; /* Add a smooth transition effect */
  font-size: 20px;
  font-weight: 700;
}

nav a:hover {
  background-color: var(--electricYellow);
  color: var(--electricPurple);
  /*color: var(--black); /* Change the text color on hover */
}
a {
  text-decoration: none;
  color: var(--black);
}

img {
  height: 200px;
  width: auto;
}
strong {
  background-color: var(--electricPurple);
  color: var(--electricYellow);
  padding: 5px;
}

#hatchImg {
  width: 280px;
}

#internImg {
  width: 320px;
}

#gameImg {
  width: 300px;
}

#welcomePage {
  background-color: var(--electricPurple);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#introduction {
  margin: 10px 350px 0 350px;
  line-height: 25px;
}

#resumeBtn {
  display: flex;
  justify-content: center;
  margin: 0 500px 0 500px;
  padding: 10px 5px 10px 5px;
  border-radius: 10px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--electricPurple);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: var(--electricYellow);
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.profile-image {
  border-radius: 50%; /* Make the image circular */
  overflow: hidden; /* Hide any overflowing content */
  width: 200px;
  height: 200px;
  margin-top: 15px;
}

.profile-image img {
  display: block; /* Make the image a block element */
  width: 100%;
  height: 100%;
  object-fit: cover; /* Resize the image to cover the entire container */
}
.divider {
  border-top: 2px solid var(--electricYellow);
  margin: 20px 0;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.contact-box {
  border-radius: 5px;
  padding: 20px;
  width: auto;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  margin: 40px;
  background-color: var(--white);
}

.link:hover {
  transform: translateY(-5px);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.icon {
  height: 50px;
  width: auto;
}

.link {
  border: 2px solid var(--electricYellow);
  background-color: var(--electricYellow);
  padding: 2px 5px;
}

.contactLink {
  border: 2px solid var(--electricYellow);
  background-color: var(--electricYellow);
  padding: 2px 5px;
  border-radius: 10px;
}
.contactLink:hover {
  transform: translateY(-5px);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.work-box {
  border-radius: 5px;
  padding: 30px;
  width: auto;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  margin-bottom: 30px;
  background-color: var(--white);
}

.work-box:hover {
  transform: translateY(-5px);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: none;
}

.overlay-content {
  border: 1px solid var(--electricPurple);
  /* existing styles */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.drop-element {
  position: relative;
  animation: dropAnimation 3s ease forwards;
}

@keyframes dropAnimation {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(100);
    opacity: 1;
  }
}
